apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: platform-org-api-hpa
  namespace: platform-org
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: platform-org-api
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
